flower_base/.mvn
flower_base/target
flower_common/target
flower_recruit/.mvn
flower_recruit/target
flower_qa/.mvn
flower_qa/target
**/.mvn
**/.gitignore
**/HELP.md
**/mvnw
**/mvnw.cmd
**/target





HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
demo/src/main/resources/db/
demo/src/main/resources/static/
demo/src/main/resources/templates/
demo/src/test/resources/
flower_common/src/main/resources/
flower_common/src/test/
flower_message/src/main/resources/static/
flower_message/src/main/resources/templates/
flower_resource/src/main/resources/templates/
flower_user/src/main/java/com/flower/user/utils/
