server:
  port: 9011
spring:
  application:
    name: flower-manager #指定服务名
eureka:
  client:
    serviceUrl: #Eureka客户端与Eureka服务端进行交互的地址
      defaultZone: http://127.0.0.1:6868/eureka/
  instance:
    prefer-ip-address: true
zuul:
  routes:
    flower-gathering: #活动
      path: /gathering/** #配置请求URL的请求规则
      serviceId: flower-gathering #指定Eureka注册中心中的服务id
    flower-article: #文章
      path: /article/** #配置请求URL的请求规则
      serviceId: flower-article #指定Eureka注册中心中的服务id
    flower-tensquare\base: #基础
      path: /base/** #配置请求URL的请求规则
      serviceId: flower-base #指定Eureka注册中心中的服务id
    flower-friend: #交友
      path: /friend/** #配置请求URL的请求规则
      serviceId: flower-friend #指定Eureka注册中心中的服务id
    flower-qa: #问答
      path: /qa/** #配置请求URL的请求规则
      serviceId: flower-qa #指定Eureka注册中心中的服务id
    flower-recruit: #招聘
      path: /recruit/** #配置请求URL的请求规则
      serviceId: flower-recruit #指定Eureka注册中心中的服务id
    flower-spit: #吐槽
      path: /spit/** #配置请求URL的请求规则
      serviceId: flower-spit #指定Eureka注册中心中的服务id
    flower-user: #用户
      path: /user/** #配置请求URL的请求规则
      serviceId: flower-user #指定Eureka注册中心中的服务id
jwt:
  config:
    key: itcast