<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.GoodsTypeMapper">
    <resultMap id="BaseResultMap" type="com.wang.entity.GoodsType">
        <id column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
        <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <!-- 添加一个商品类型 -->
    <insert id="saveGoodsType" parameterType="com.wang.entity.GoodsType">
        insert into goods_type (TYPE_ID, TYPE_NAME, CREATE_TIME)
        values (replace(UUID(),'-',''), #{typeName,jdbcType=VARCHAR}, NOW())
    </insert>

    <!-- 删除一个商品类型 -->
    <delete id="deleteGoodsType" parameterType="java.lang.String">
        delete from goods_type
        where TYPE_ID = #{typeId,jdbcType=VARCHAR}
    </delete>

    <!-- 修改一个商品类型 -->
    <update id="updateGoodsType" parameterType="com.wang.entity.GoodsType">
        update goods_type
        set TYPE_NAME = #{typeName,jdbcType=VARCHAR},
        UPDATE_TIME = NOW()
        where TYPE_ID = #{typeId,jdbcType=VARCHAR}
    </update>

    <!-- 获取所有的商品类型 -->
    <select id="getList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from goods_type
        order by CREATE_TIME ASC
    </select>

    <!-- 依据商品名称查询 -->
    <select id="getByTypeName" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from goods_type
        where TYPE_NAME = #{typeName,jdbcType=VARCHAR}
    </select>


    <!-- 自动生成 -->
    <sql id="Base_Column_List">
        TYPE_ID, TYPE_NAME, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from goods_type
        where TYPE_ID = #{typeId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from goods_type
        where TYPE_ID = #{typeId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.wang.entity.GoodsType">
        insert into goods_type (TYPE_ID, TYPE_NAME, CREATE_TIME,
        UPDATE_TIME)
        values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.wang.entity.GoodsType">
        insert into goods_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                TYPE_ID,
            </if>
            <if test="typeName != null">
                TYPE_NAME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">
                #{typeId,jdbcType=VARCHAR},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wang.entity.GoodsType">
        update goods_type
        <set>
            <if test="typeName != null">
                TYPE_NAME = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where TYPE_ID = #{typeId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wang.entity.GoodsType">
        update goods_type
        set TYPE_NAME = #{typeName,jdbcType=VARCHAR},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where TYPE_ID = #{typeId,jdbcType=VARCHAR}
    </update>
</mapper>