<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.MGmmapingMapper">
  <resultMap id="BaseResultMap" type="com.wang.entity.MGmmaping">
    <id column="gm_id" jdbcType="VARCHAR" property="gmId" />
    <result column="pgroup_id" jdbcType="VARCHAR" property="pgroupId" />
    <result column="m_id" jdbcType="VARCHAR" property="mId" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    gm_id, pgroup_id, m_id, create_date, update_date, operator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_gmmaping
    where gm_id = #{gmId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from m_gmmaping
    where gm_id = #{gmId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wang.entity.MGmmaping">
    insert into m_gmmaping (gm_id, pgroup_id, m_id, 
      create_date, update_date, operator
      )
    values (#{gmId,jdbcType=VARCHAR}, #{pgroupId,jdbcType=VARCHAR}, #{mId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wang.entity.MGmmaping">
    insert into m_gmmaping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmId != null">
        gm_id,
      </if>
      <if test="pgroupId != null">
        pgroup_id,
      </if>
      <if test="mId != null">
        m_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="operator != null">
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmId != null">
        #{gmId,jdbcType=VARCHAR},
      </if>
      <if test="pgroupId != null">
        #{pgroupId,jdbcType=VARCHAR},
      </if>
      <if test="mId != null">
        #{mId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wang.entity.MGmmaping">
    update m_gmmaping
    <set>
      <if test="pgroupId != null">
        pgroup_id = #{pgroupId,jdbcType=VARCHAR},
      </if>
      <if test="mId != null">
        m_id = #{mId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where gm_id = #{gmId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wang.entity.MGmmaping">
    update m_gmmaping
    set pgroup_id = #{pgroupId,jdbcType=VARCHAR},
      m_id = #{mId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE},
      operator = #{operator,jdbcType=VARCHAR}
    where gm_id = #{gmId,jdbcType=VARCHAR}
  </update>
</mapper>