<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.MPowergroupMapper">
  <resultMap id="BaseResultMap" type="com.wang.entity.MPowergroup">
    <id column="pgroup_id" jdbcType="VARCHAR" property="pgroupId" />
    <result column="groups_name" jdbcType="VARCHAR" property="groupsName" />
    <result column="groups_desc" jdbcType="VARCHAR" property="groupsDesc" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
  </resultMap>
  <sql id="Base_Column_List">
    pgroup_id, groups_name, groups_desc, status, create_date, update_date, operator, 
    seller_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_powergroup
    where pgroup_id = #{pgroupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from m_powergroup
    where pgroup_id = #{pgroupId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wang.entity.MPowergroup">
    insert into m_powergroup (pgroup_id, groups_name, groups_desc, 
      status, create_date, update_date, 
      operator, seller_id)
    values (#{pgroupId,jdbcType=VARCHAR}, #{groupsName,jdbcType=VARCHAR}, #{groupsDesc,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE}, 
      #{operator,jdbcType=VARCHAR}, #{sellerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wang.entity.MPowergroup">
    insert into m_powergroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pgroupId != null">
        pgroup_id,
      </if>
      <if test="groupsName != null">
        groups_name,
      </if>
      <if test="groupsDesc != null">
        groups_desc,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pgroupId != null">
        #{pgroupId,jdbcType=VARCHAR},
      </if>
      <if test="groupsName != null">
        #{groupsName,jdbcType=VARCHAR},
      </if>
      <if test="groupsDesc != null">
        #{groupsDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wang.entity.MPowergroup">
    update m_powergroup
    <set>
      <if test="groupsName != null">
        groups_name = #{groupsName,jdbcType=VARCHAR},
      </if>
      <if test="groupsDesc != null">
        groups_desc = #{groupsDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
    </set>
    where pgroup_id = #{pgroupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wang.entity.MPowergroup">
    update m_powergroup
    set groups_name = #{groupsName,jdbcType=VARCHAR},
      groups_desc = #{groupsDesc,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE},
      operator = #{operator,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=VARCHAR}
    where pgroup_id = #{pgroupId,jdbcType=VARCHAR}
  </update>
</mapper>