<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.MRumapingMapper">
  <resultMap id="BaseResultMap" type="com.wang.entity.MRumaping">
    <id column="ru_id" jdbcType="VARCHAR" property="ruId" />
    <result column="r_id" jdbcType="VARCHAR" property="rId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    ru_id, r_id, user_id, create_date, update_date, operator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_rumaping
    where ru_id = #{ruId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from m_rumaping
    where ru_id = #{ruId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wang.entity.MRumaping">
    insert into m_rumaping (ru_id, r_id, user_id, 
      create_date, update_date, operator
      )
    values (#{ruId,jdbcType=VARCHAR}, #{rId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wang.entity.MRumaping">
    insert into m_rumaping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ruId != null">
        ru_id,
      </if>
      <if test="rId != null">
        r_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="operator != null">
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ruId != null">
        #{ruId,jdbcType=VARCHAR},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wang.entity.MRumaping">
    update m_rumaping
    <set>
      <if test="rId != null">
        r_id = #{rId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where ru_id = #{ruId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wang.entity.MRumaping">
    update m_rumaping
    set r_id = #{rId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE},
      operator = #{operator,jdbcType=VARCHAR}
    where ru_id = #{ruId,jdbcType=VARCHAR}
  </update>
</mapper>